BODY {font-family: 'Headland One', serif;}

H1 {font-weight: 900;}

#bizcanvas {
  border: 3px solid black;
  width: 100%;
}

#bizcanvas td {
  vertical-align: top;
  height: 200px;
  width: 200px;
  padding: 6px;
}


#bizcanvas H4 {
  font-weight: 700;
  font-size: 1em;
}

#bizcanvas H5 {
  font-weight: 700;
  font-size: 0.7em;
}

#bizcanvas p {
  font-weight: 300;
  font-size: 0.8em;
}
